body {
    margin:0;
    padding: 0;
    height: 100 vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content:center;
    align-items: center;
}
.container {
    width: 1200px;
    height: 600px;
    background-color:linear-gradient(to button right,yellow,red);
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .card {
        position: relative;
        width: 800px;
        height: 500px;
        background-color: aliceblue;
        border-radius: 50px;
    }
    .vancard {
        width:300px;
        height: 300px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        left: -50;
        background-color: liner-gradient(to bottom right,red, orange);
        box-shadow: 0 0 50px --10px red;

    }
    .text {
        width: max-content;
        height: max-content;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        right: 10;
        background-color: oldlace;
    }
