body {
    margin: 0px;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 7px;
}
.container {
    width: 1280px;
    height: 580px;
    background-image: linear-gradient(to bottom right, purple, pink);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 600px;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

}
.slika {
    width: 100px;
    height: 100px;
    background-color:gainsboro;
    display: flex;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px rgb(130, 224, 255);

}
.button {
    width: 250%;
    height: 50px;
    background-image: linear-gradient(to bottom right,lightblue,blue);
    display: flex;
    justify-content: end;
    align-items: end;
    border-radius: 20px;

}
